* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all linear 0.2s;
  font-family: sans-serif;
  -webkit-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
}
body {
  background-color: #000000;
  overflow-x: hidden;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Apercu_Regular.otf");
}

@font-face {
  font-family: "fontrust";
  src: url("./assets/fonts/Fontrust.otf");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@keyframes background {
  25% {
    background: url("./assets/images/giphy2.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  50% {
    background: url("./assets/images/giphy3.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  75% {
    background: url("./assets/images/giphy4.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  100% {
    background: url("./assets/images/giphy7.gif");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

body {
  font-size: 16px;
  font-family: "Poppins";
}

h1 {
  margin: 20px;
}
label {
  margin: 10px 0 10px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.home {
  background: url("./assets/images/giphy2.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  animation-name: background;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.filter {
  position: absolute;
  top: 0;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  z-index: 1000;
}
.link {
  color: #666;
  font-size: 13px;
  padding: 8px;
}
.main-content {
  width: 100%;
  /* height: 130vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
  padding: 20px;
}
.white {
  background-color: white;
  width: 90%;
  margin: auto auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.content-center {
  align-self: center;
  justify-self: center;
}

.sub {
  width: 90%;
  max-width: 600px;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;

  background-color: white;
}

.heading {
  color: #fff;
  font-family: 'fontrust';
  font-size: 122px;
  font-weight: lighter;
  margin: 0;
}

.sidebar {
  position: fixed;
  top: 50vh;
  right: 0;
  transform: translateY(-50%);
  z-index: 1300;
}

.home-btn {
  border: 1px solid white;
  color: white;
  padding: 10px;
  border-radius: 20px;
  width: 250px;
  display: inline-block;
  cursor: pointer;
}

.home-btn:hover {
  background: white;
  color: #222;
}

.home-footer {
  position: fixed;
  bottom: 0;
  color: #bdbdbd;
  font-size: 11px;
  display: flex;
  width: 100vw;
  z-index: 1700;
}

.home-footer p {
  flex: 0.5;
}

.foot-left {
  text-align: left;
}

.foot-right {
  text-align: right;
}

.foot-right img {
  position: relative;
  top: 5px;
}

.pulsate-bck {
	-webkit-animation: pulsate-bck 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite forwards;
	animation: pulsate-bck 0.5s cubic-bezier(0.550, 0.055, 0.675, 0.190) infinite forwards;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-15 17:16:55
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
 @-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.sidebar svg {
  color: #fff !important;
  display: block;
  margin: 40px auto;
  cursor: pointer;
  padding: 10px;
  box-sizing: content-box;
}

.sidebar svg:hover {
  background: black;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1600 !important;
}

.modal-main {
  position:fixed;
  background: black;
  width: 85%;
  height: 70vh;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mod-card {
  width: 40%;
  text-align: left;
  padding: 10px;
}

.mod-card p {
  color: #444444;
}

.mod-card h2 {
  padding: 10px;
  color: white;
}

.mod-card img {
  padding: 0 10px;
  box-sizing: content-box;
  filter: invert();
}

.close-mod {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 0;
}

.display-block {
  transform: translateY(0vh);
}

.display-none {
  transform: translateY(100vh);
}

.home-quotes {
  color: white;
  max-width: 500px;
  display: inline-block;
  margin: 10px auto;
  font-size: 14px;
  line-height: 24px;
}

.sub-list {
  width: 90%;
  padding-left: 0;
  list-style: none;
  margin: 20px 0;
}

.sub-list li {
  padding: 10px;
  border-bottom: 1px solid lightgray;
  width: 90%;
  max-width: 600px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}

.sub-list li:nth-child(odd) {
  background-color: #fff;
}

.sub-list li:nth-child(even) {
  background-color: #fcfcfc;
}
.sub-list li:hover {
  background: lightgrey;
  cursor: pointer;
}

.booking {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  z-index: 10;
}

.booking-information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.plan {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
}

.inline {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-bottom: 1px solid #6666;
}

.inline label,
.inline h4 {
  display: inline-block;
  flex: 0.5;
}

.inline label {
  text-align: right;
}

.inline h4 {
  text-align: left;
  position: relative;
  top: 10px;
}

.plan-container {
  background: #fff;
  flex-direction: row;
  width: 90%;
  max-width: 700px;
  margin: 20px 0;
  padding: 20px;
}

.plan-body {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

.rows {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

.muted {
  color: lightgrey;
  font-size: 14px;
  margin: 10px 0;
}

.box {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10% auto;
}
.cards {
  width: 100%;
  padding: 15px;
}

.plan-element {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
}
.no-color {
  background-color: transparent !important;
  position: absolute;
  width: 100% !important;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin: 0 auto;
}
.error {
  display: block;
  color: red;
  font-size: 15px;
  text-align: center;
  margin: 5px;
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker__input-container {
  width: 100% !important;
  text-align: left;
}
.terms {
  width: 100%;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 9px;
  color: #949393;
}
.terms input {
  border: 1px solid #575454;
}
.lab {
  margin-left: 4px;
}
@media screen and (min-width: 900px) {
  .booking {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row !important;
  }

  .plan-body {
    flex: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .booking-information {
    flex: 50%;
  }
  .select-group {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 48px;
  }

  .home-quotes {
    max-width: 90%;
  }

  .filter {
    flex-direction: column;
  }

  .modal-main {
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
  }

  .mod-card {
    width: 90%;
    margin: 20px auto;
  }

  .sidebar {
    position: relative;
    right: initial;
    top: initial;
    bottom: 10vh;
  }

  .sidebar svg {
    display: inline-block;
    margin: 10px 10px;
  }
}
.prev-bookings {
  display: flex;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #6666;
  padding: 10px;
  margin: 0 auto;
}

.prev-bookings div h4 {
  margin: 10px;
}

.falg {
  position: relative;
  top: 15px;
}
